.container {
    width: 100%;
    .navbar {
        height: 20rem;
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        display: flex;
        justify-content: center;
        .image {
            height: 5rem;
            margin: 2rem;
        }
    }
}